<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.instaplan"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <permission
        android:name="com.project.instaplan.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.project.instaplan.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/instaplan_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <activity
            android:name=".Intro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.Menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chatroom_ok"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.Chatroom_ok" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetContacts"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.GetContacts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GCMActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.GCMActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneRegistration"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.PhoneRegistration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".DialogActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.DialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MessageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.MessageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chatroom"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.Chatroom" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateEvent"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.CreateEvent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Downloader"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.Downloader" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RuntimeStatusCheck"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.RuntimeStatusCheck" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllEvents"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.AllEvents" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.project.instaplan.LocationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.project.instaplan2" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".SMSReceiver" >
​​​​​​​​​​​​
            <intent-filter android:priority="10" >
​​​​​​​​​​​​​​​​
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
​​​​​​​​​​​​
            </intent-filter>
​​​​​​​​
        </receiver>
        
        <service android:name=".GCMIntentService" />
    </application>

</manifest>